@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: rgb(var(--foreground-rgb));
    background: #161616;
    color: white;
}

/* Hide the scrollbar for both vertical and horizontal directions */
.container {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
}

/* Show the scrollbar when hovering over the container */
.container:hover {
    scrollbar-width: auto; /* Firefox */
    -ms-overflow-style: auto; /* Internet Explorer and Edge */
}

.text-primary {
    color: #c69749;
}

.bg-secondary {
    background: #735f32;
}
